$main: #212121;
$primary: #bb944f;
$primary-bg: #f8ecd1;
$primary-active: #5014d0;
$primary-light: #f9f9f9;
$secondary: #7239ea;
$secondary-active: #5014d0;
$secondary-light: #f9f9f9;
$danger: #f1416c;
$danger-active: #d9214e;
$danger-light: #fff5f8;
$success: #50cd89;
$success-active: #47be7d;
$success-light: #e8fff3;
$warning: #ffc700;
$warning-active: #f1bc00;
$warning-light: #fff8dd;
$info: #009ef7;
$info-active: #0095e8;
$info-light: #f1faff;
$info-bg: #bdd5ea;
$light: #f9f9f9;
$dark: #181c32;
$gray: #7e8299;
$gray-active: #3f4254;
$gray-light: #e1e3ea;
$grad: linear-gradient(
	315deg,
	hsl(38deg 93% 52%) 0%,
	hsl(37deg 78% 48%) 8%,
	hsl(37deg 72% 45%) 13%,
	hsl(36deg 66% 40%) 18%,
	hsl(35deg 59% 36%) 23%,
	hsl(35deg 53% 31%) 28%,
	hsl(34deg 45% 27%) 36%,
	hsl(33deg 35% 22%) 47%,
	hsl(32deg 22% 18%) 64%,
	hsl(0deg 0% 13%) 100%
);
$card-light-bg: #fff;

$aspect-ratio: 56.25%;

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

.app {
	//LOGIN & REGISTER
	.auth {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: #f4f4f4 !important;

		.top-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 100vh;
			padding: 50px;
			background-color: white;
			background: linear-gradient(135deg, #262626, $primary, #1c1c1c);
			background-size: 600% 600%;
			animation: gradreg 7s ease infinite;
			gap: 50px;

			@keyframes gradreg {
				0% {
					background-position: 0% 50%;
				}
				50% {
					background-position: 100% 50%;
				}
				100% {
					background-position: 0% 50%;
				}
			}

			.logo {
				width: 100px;
			}

			.media {
				width: 500px;
			}

			.reg-text {
				text-align: center;
			}
		}

		h1 {
			font-size: 20px;
			color: $primary;
			margin-bottom: 20px;
		}

		.auth-form {
			background-color: $main;
			width: 50%;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.reg-foot {
			display: flex;
			gap: 50px;
			margin-top: 50px;
		}

		.form-container {
			width: 70%;
			max-width: 500px;
			padding: 50px;
			background-color: white;
			min-height: auto;
			max-height: 50vh;
			border-radius: 10px;
			color: $main;
			overflow-x: auto;
		}

		.form-container::-webkit-scrollbar {
			display: block;
			width: 8px;
		}

		.form-container::-webkit-scrollbar-thumb {
			background-color: #ddd;
			border-radius: 10px;
		}

		.form-container::-webkit-scrollbar-track {
			background-color: #888;
			border-radius: 100px;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 20px;

			input,
			textarea,
			select,
			label {
				padding: 10px;
				border: none;
				border-bottom: 1px solid $gray;
				color: #333;
				width: auto;
			}

			input[type='date'] {
				padding: 10px;
				border: none;
				border-bottom: 1px solid $gray;
				background-color: #f5f5f5;
				color: #333;
				border-radius: 10px;
				box-shadow: none;
				appearance: none; /* to remove default styling of date picker */
			}

			label {
				font-size: 12px;
			}

			button {
				padding: 10px;
				border: none;
				background-color: $primary;
				border-radius: 10px;
				cursor: pointer;
				color: white;
			}

			p {
				font-size: 12px;
				color: red;
				text-align: center;
			}

			span {
				font-size: 12px;
				text-align: center;
			}
		}

		.roles {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $main;
			width: 100%;
			height: 100vh;

			.role {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 20px;

				.role-btn {
					color: white;
					background-color: $primary;
					border: transparent 2px solid;
					padding: 20px;
					border-radius: 10px;
					width: 100px;
					margin-top: 50px;
					text-align: center;

					&:hover {
						background-color: transparent;
						color: $primary;
						border: $primary 2px solid;
					}
				}
			}
		}

		.log {
			margin-top: 50px;
		}
	}
}

//desktop
@media only screen and (max-width: 1400px) {
	.app {
		.container {
			width: 100%;

			.home {
				padding: 20px;

				.top-part {
					.profile-card {
						.avatar {
							img {
								width: 300px;
							}
						}

						.info {
							.info-cards {
								flex-direction: column;
							}
						}
					}
				}

				.posts {
					gap: 50px;

					.post {
						flex-direction: column;
						gap: 30px;
					}
				}
			}

			.books {
				padding: 30px;

				.tabs {
					.tab-content {
						padding: 10px;
					}
				}
			}
		}
	}
}

//tablet
@media only screen and (max-width: 1024px) {
	.app {
		.container {
			width: 100%;

			.auth {
				flex-direction: column;

				.top-left {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 15vh;
					padding: 30px;
					width: 100%;
					background-color: white;

					.logo {
						width: 70px;
					}

					.media {
						display: none;
					}

					.reg-text {
						display: none;
						color: #f4f4f4 !important;
					}
				}

				.auth-form {
					width: 100%;
					height: 85vh;
				}

				.reg-foot {
					display: flex;
					flex-direction: column;
					gap: 15px;
					margin-top: 30px;
				}
			}

			.row {
				display: flex;
				flex-direction: column;
			}

			.toggle-btn {
				width: 100%;
			}

			.navbar {
				.container {
					.small-links {
						display: block;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						background-color: $card-light-bg;
						box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
						width: 100%;
						height: auto;
						position: absolute;
						top: 0;
						left: -110%;
						align-items: center;
						padding: 80px 0 20px 0;
						margin: 0;
						z-index: 2000;
						transition: all 0.3s ease-in-out;
						font-size: 18px;

						.nav-link {
							display: block;
							widows: 100%;
							font-size: 18px;
							color: $gray;
							text-decoration: none;
							margin-top: 10px;

							&:hover {
								color: $primary;
							}
						}

						.nav-link.active {
							color: $primary;
						}
					}

					.small-links.active {
						left: 0%;
						grid-gap: 20px;
					}

					.logo {
						z-index: 3000;
					}

					.toggler {
						display: block;
						font-size: 25px;
						z-index: 4000;
					}

					.links {
						display: none;
					}
				}
			}

			.home {
				padding: 20px;

				.top-part {
					display: flex;
					flex-direction: column;
					gap: 20px;

					.profile-card {
						width: 100%;

						.avatar {
							img {
								width: 300px;
							}
						}
					}

					.calendar {
						width: 100%;
					}
				}

				.posts {
					gap: 50px;

					.post {
						flex-direction: column;
						gap: 30px;
					}
				}
			}

			.books {
				padding: 20px;

				.answers {
					.answer {
						display: flex;
						flex-direction: column;
						gap: 30px;

						.vid {
							width: 100%;
							.videos {
								height: 500px;
								width: 700px;
							}
						}

						.vid-links {
							width: 100%;
						}
					}
				}

				.tabs {
					.tab-content {
						padding: 10px;
					}
				}
			}

			.profile {
				padding: 20px;
				.profile-card {
					.info {
						width: 100%;
					}
				}
			}

			footer {
				font-size: 14px;
			}
		}
	}
}

//mobile
@media only screen and (max-width: 700px) {
	.app {
		.container {
			width: 100%;

			.auth {
				.form-container {
					padding: 20px;
				}

				.form-container::-webkit-scrollbar {
					display: block;
					width: 5px;
				}
			}
			.home {
				.top-part {
					display: flex;
					flex-direction: column;
					gap: 20px;

					.profile-card {
						width: 100%;

						.avatar {
							img {
								width: 200px;
							}
						}
					}

					.calendar {
						width: 100%;

						table {
							.days {
								padding: 5px;
							}

							.date {
								max-width: 100px;
								padding: 5px;
							}
						}
					}
				}

				.posts {
					gap: 50px;

					.post {
						flex-direction: column;
						gap: 30px;
					}
				}

				.modal {
					.modal-content {
						width: 350px;

						.modal-header {
							font-size: 14px;
						}
					}
				}
			}

			.books {
				padding: 20px;

				.tabs {
					.tab-buttons button {
						font-size: 14px;
						font-weight: normal;
						padding: 10px;
					}
				}

				.answers {
					.answer {
						display: flex;
						flex-direction: column;
						gap: 30px;

						.vid {
							.videos {
								max-height: 600px;
								max-width: 700px;
								height: 300px;
								width: 300px;
							}
						}

						.vid-links {
							padding: 10px;
						}
					}
				}

				.tabs {
					.tab-content {
						padding: 10px;
					}
				}
			}
		}
	}
}
