.month {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.announce {
	width: 100%;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	.ann-text {
		animation: scrolling-left 30s linear infinite;
		white-space: nowrap;
	}

	@keyframes scrolling-left {
		0% {
			transform: translateX(100%);
			-webkit-transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
		}
	}
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1005;

	.modal-content {
		background-color: #ffffff;
		width: 70%;
		justify-content: center;
		align-items: center;
		max-height: 70vh;
		overflow-x: auto;
		border-radius: 10px;

		.modal-header {
			height: 80px;
			border-bottom: #d8d8d8 1px solid;
			padding: 20px;
			display: flex;
			flex-direction: row;
			font-weight: normal;

			.right-header {
				display: flex;
				align-items: center;
				margin-left: auto;
				cursor: pointer;
				color: grey;
				font-weight: bolder;

				&:hover {
					color: red;
				}
			}
		}

		.modal-body {
			flex: 1 1 auto;
		}
	}

	.modal-footer {
		height: 70px;
		border-top: #d8d8d8 1px solid;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@media only screen and (max-width: 700px) {
	.modal {
		.modal-content {
			width: 80%;

			.modal-header {
				font-size: 14px;
			}
		}
	}
}
